
td, div
{
	font-family: Arial;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.seat
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	
	line-height: 21px;
	text-align: center;
	
	cursor: pointer;
	
	width: 19px;
	height: 19px;
	
	font-family: Arial;
	font-size: 12px;
}

.seat:HOVER
{
	background: #FFAAAA;
}

.section-container
{
	position: relative;
	width: 360px;
	height: 160px;
}

.section-cell
{
	padding-top: 50px;
	vertical-align: top;
}

.selected
{
	background: #4444FF;
	color: #FFFFFF;
}

.taken
{
	background: #000000;
	color: #FFFFFF;
}

.allowed
{
	background: #00CC00;
	color: #FFFFFF;
}

.valid
{
	background: #AAFFAA;
}

.invalid
{
	background: #FFAAAA;
}

.refs
{
	padding: 5px;
	display: table-cell;
}

.formLabel
{
	text-align: right;
	padding-top: 4px;
	padding-right: 15px;
	padding-left: 5px;
	
	vertical-align: top;
}

.light
{
	background: #EEF;
}

.dark
{
	background: #DDE;
}

input
{
	background: #EEEEEE;
	border: solid 1px #666666;
}

#spinner
{
	display: none;
}

#preferred_info
{
	margin-bottom: 30px;
}

#teamName, #contactEmail
{
	width: 200px;
}